@import '../../styles/settings.scss';

.time {
  padding: 23px 0 8px 0;
  color: $color-light;
  font-family:'Times New Roman', Times, serif;
  font-weight: normal;

  .numbers {
    font-size: 60px;
    margin: 0;
  }
}
